img.profIcon {
	position:absolute;
	left:120px;
	top:-38px;
	z-index:1;
	display:none;
	height: 60px;
    width: 60px;
}

img.friendProfIcon{
	position:absolute;
	left:58px;
	top:58px;
	z-index:1;
	height: 45px;
	width: 45px;
}

img.claim{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	left:295px;
	top:5px;
}

img.popupbase{
	position:absolute;
	z-index:1;
	height: 30px;
    width: 30px;
	cursor:pointer
}

div.claim_d{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	left:295px;
	top:5px;
}

div.claimWork_d{
	position:absolute;
	z-index:1;
	height: 40px;
    width: 40px;
	left:530px;
	top:20px;
}

div.claimEvents_d{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	top:-20px;
}

div.claimOverview_d{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	top:-20px;
	left:-200px;
}

div.popupChart{
    position: absolute;
    top: 0px;
    left: 110px;
    height: 108px;
    width: 108px;
    background-color: white;
}

li.listElement{
	width:110px;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
}


img.popup{
	height: 30px;
	padding-top: 2.5px;
}

img.claimWork{
	position:absolute;
	z-index:1;
	height: 40px;
    width: 40px;
	left:520px;
	top:15px;
}

img.claimEvents{
	position:relative;
	z-index:1;
	height: 20px;
    width: 20px;
	top:-20px;
}

img.claimOverview{
	position:relative;
	z-index:1;
	height: 20px;
    width: 20px;
	top:-20px;
	left:-200px;
}

img.ring{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	left:8px;
	top:5px;
}

i.arrow{
	position:absolute;
	z-index:1;
	left:105px;
	top:20px;
}

ul.dropElement{
	background-color: #ffffff;
	outline-style: solid;
    outline-width: thin;
	outline-color: #bbbbdd;
	width:250px;
	max-width: 250px;
	min-width: 130px;
}

canvas.drop_chart{
	width: 150px;
	height: 150px;
	min-width: 150px;
	min-height: 150px;
	margin-top:25px;
	margin-left:50px;
}

canvas.mini_chart{
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	margin-top:5px;
	margin-left:5px;
}

img.popup{
	position:absolute;
}

img.dropHeader{
	width:250px;
}

img.chartTip{
	width:20px;
	position:absolute;
}

div.Events{
	position:absolute;
	height:auto;
	width:auto;
	left:550px;
}

div.Overview{
	position:absolute;
	height:auto;
	width:auto;
	left:550px;
}

a.myButton {
	background-color:#f6f6f6;
	width:200px;
	height:40px;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:2px 24px;
	text-decoration:none;
	border:1px solid #ffffff;
}
.myButton:hover {
	background-color:#ededed;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

a.verA{
	width:inherit;
	color:#666666;
}
a.neuA{
	width:inherit;
	color:#666666;
}
a.refA{
	width:inherit;
	color:#666666;
}

p.sidComment{
	position:absolute; 
	font-size: 18px;
	left: 0px;
    padding-left: 120px;
	height: 35px;
	width: 700px;
    top: -18px;
    padding-top: 16px;
}

a.commentClose{
	top: 3px;
    left: 2px;
}
