img.profIcon {
	position:absolute;
	left:120px;
	top:-38px;
	z-index:1;
	display:none;
	height: 60px;
    width: 60px;
}

img.claimIcon{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	left:295px;
	top:5px;
}

img.ring{
	position:absolute;
	z-index:1;
	height: 20px;
    width: 20px;
	left:8px;
	top:5px;
}