@charset "UTF-8";
/* Base Styles */
/*list style omit*/
#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2
}

#cssmenu > ul {
  position: absolute;
  z-index: 597;
}

/*Size of main menu*/
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
}

/*Relative position of popup*/
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

/*hidden state $*/
#cssmenu > ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 598;
  width: 100%;
}

/*Fill gaps??*/
#cssmenu > ul ul li {
  float: none;
}

/*Visible state not*/
#cssmenu > ul li:hover > ul {
  visibility: visible;
}

/*borders*/
#cssmenu > ul li a {
  display: inline-block;
  padding: 10px 35px;
}
/*show without hover
#cssmenu > ul > li.active,
#cssmenu > ul > li.active:hover {
  background-color: #3fa338;
}*/

/* Text color of main on non hover*/
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:active,
#cssmenu > ul > li > a:visited {
  color: #ffffff;
  
}


#cssmenu > ul > li > a:hover {
  color: #ffffff;
}


#cssmenu > ul ul ul {
  top: 0;
}

#cssmenu > ul li li {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
}

/*sub product selection*/
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  background-color: #F5F5F5;
}


#cssmenu > ul > li.hover,
#cssmenu > ul > li:hover {
  background-color: #222222;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}


/*text decoration*/
#cssmenu > ul a:link,
#cssmenu > ul a:visited {
  /*color: #000000;*/
  text-decoration: none;
  font-size:12px;
}




/* Size of sub menus*/
#cssmenu > ul ul {
  border: 1px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  width: 150px;
}
